.allUsers {
	
	ul {
		display: block;
		font-weight: 500;
		margin: 20px 0px;
		font-size: 14px;
		line-height: 21px;
		letter-spacing: -0.01em;
		

		li {
			display: flex;
			justify-content: space-around;
			align-items: baseline;
			padding: 10px 20px;
			border-bottom: 1px solid #EEEEEE;
			span {
				display: flex;
				&:nth-child(1) {
					flex: 0 0 20%;
				}
				&:nth-child(2) {
					flex: 0 0 10%;
				}
				&:nth-child(3) {
					flex: 0 0 40%;
				}
				&:nth-child(3) {
					flex: 0 0 20%;
				}
			}
			
			.btnActive {
				width: 80px;
				height: 29px;
				background: rgba(22, 192, 152, 0.38);
				border: 1px solid #00B087;
				color: #008767;
				border-radius: 4px;
			}

			.btnInactive {
				width: 80px;
				height: 29px;
				background: #FFC5C5;
				border: 1px solid #DF0404;
				color: #DF0404;
				border-radius: 4px;
			}
		}
	}

}