.itemList {
	display: flex;
	flex-direction: column;
	margin-right: 25px;
	margin-top: 65px;
	position: relative;


	.navLink {
		margin-top: 30px;
		padding: 5px 0 5px 5px;
		position: relative;
		a {
			margin-left: 40px;
			padding: 5px 50px;
			color: #9197B3;
			text-decoration: none;
			&[class="active"] {
				color: #fff;
				background: #5932EA;
				border-radius: 10px;
				path {
					stroke: #fff;
				}
			}
		}

	}

	svg {
		position: absolute;
		top: 3px;
		left: 50px;
	}

}

@media(max-width: 1024px) {
	.itemList {
		display: flex;
		flex-direction: row;
	}
}