.sideMenu {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: #ffff;
	border-radius: 20px 0px 0px 20px;
	box-shadow: -1px 4px 20px -15px rgba(0,0,0,0.75);

	.logo {
		position: relative;
		margin: 36px 83px 0px 28px;
	}

	.logoVr {
		position: absolute;
		top: 17px;
		right: -20px;
		font-size: 10px;
		line-height: 15px;
	}
}