* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

ul {
	list-style: none;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F7F4FF;
}

.wrapper {
	display: grid;
	grid-template-columns: 306px 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0;
	grid-row-gap: 0;
	width: 1440px;
	height: 1198px;
	margin: 10px 0 10px 0;
	background:#f7f4fb;
	border-radius: 20px;
	box-shadow: -1px 4px 32px -15px rgba(0,0,0,0.75);

	.mainBoard {
		width: 968px;
		height: 812px;
		background: #fff;
		margin-top: 128px;
		margin-left: 71px;
		margin-right: 95px;
		border-radius: 20px;
		box-shadow: -1px 4px 20px -20px rgba(0,0,0,0.75);
	}
}

